<footer class="mt-5 bg-light py-3 text-center">
    <section id="footer">
        <p>Copyright Europe4strays</p>  
            <a href="http://twitter.com/share?text=europe4strays&url=https%3A%2F%2Feurope4strays.jimdofree.com%2F">
                        <img src="{{ asset('assets/img/twitter.png') }}" height="28px" alt="twitter">
            </a>   
            <a href="http://www.facebook.com/sharer.php?u=https://europe4strays.jimdofree.com/&t=europe4strays">
                        <img src="{{ asset('assets/img/facebook.png') }}" height="28px" alt="facebook">
            </a>
            <a href="http://www.tumblr.com/share?v=3&u=https://europe4strays.jimdofree.com/&t=europe4strays">
                        <img src="{{ asset('assets/img/tumblr.png') }}" height="28px" alt="tumblr">
            </a>
            <a href="{{ path('contact') }}">
                        <img src="{{ asset('assets/img/email.png') }}" height="30px" alt="email">
            </a>
    </section>
</footer>